<a href="https://colab.research.google.com/github/MANICKAVIGNESH/Mortgage_Trading_Analysis_and_Prediction/blob/main/Copy_of_Mortgage_Trading_Analysis_and_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Data Collection

In [ ]:
loan_balances = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/loan_balances.xlsx')
loan_bids = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/loan_bids.xlsx')
loan_data = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/loan_data.xlsx')
loan_status = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/loan_status.xlsx')
target_profit = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/target_profit.xlsx')
umbs_prices = pd.read_excel('/content/drive/MyDrive/Company Project/Technocolab software Pvt Ltd/Main Project - Mortgage Trading Analysis and Prediction/umbs_prices.xlsx')

In [ ]:
loan_balances.info()

# Check for missing values
print(loan_balances.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount                 5367 non-null   int64
 2   first_payment_date          5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate               5367 non-null   float64
 5   loan_term                   5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8   current_balance             5367 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4)
memory usage: 377.5 KB
loan_id                       0
loan_amount                   0
first_payment_date            0
principal_interest_payment    0
interest_rate                 0
loan_term                     0
next_payment_due_date         0
payment_periods_made          0
current_balance               0
dtype: int64

In [ ]:
loan_bids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            5367 non-null   int64
 1   golden_sachs       5367 non-null   float64
 2   storgan_manley     5367 non-null   float64
 3   smells_largo       5367 non-null   float64
 4   bank_of_americans  5367 non-null   float64
 5   pj_logan           5367 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 251.7 KB

In [ ]:
loan_data.info()

print(loan_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   loan_id                       5367 non-null   int64
 1   state_code                    5367 non-null   object
 2   county                        5367 non-null   object
 3   conforming_loan_limit         5367 non-null   bool
 4   derived_loan_product_type     5367 non-null   object
 5   derived_dwelling_category     5367 non-null   object
 6   loan_type                     5367 non-null   object
 7   loan_purpose                  5367 non-null   object
 8   lien_position                 5367 non-null   int64
 9   reverse_mortgage              5367 non-null   bool
 10  open-end_line_of_credit       5367 non-null   bool
 11  loan_amount                   5367 non-null   int64
 12  closing_date                  5367 non-null   datetime64[ns]
 13  first_payment_date            5367 non-null   datetime64[ns]
 14  maturity_date                 5367 non-null   datetime64[ns]
 15  loan_term                     5367 non-null   int64
 16  principal_interest_pmt        5367 non-null   float64
 17  interest_rate                 5367 non-null   float64
 18  property_value                5367 non-null   int64
 19  total_loan_costs              5365 non-null   float64
 20  origition_charges             5367 non-null   float64
 21  other_loan_costs              5367 non-null   object
 22  negative_amortization         5367 non-null   bool
 23  interest_only_payment         5367 non-null   int64
 24  balloon_payment               5367 non-null   int64
 25  other_nonamortizing_features  5367 non-null   bool
 26  occupancy_type                5367 non-null   object
 27  manufactured_home             5367 non-null   bool
 28  total_units                   5367 non-null   int64
 29  income_thousands              5367 non-null   object
 30  recurring_monthly_debt        5340 non-null   float64
 31  median_fico_score             5367 non-null   int64
 32  credit_score_type             5367 non-null   object
 33  aus_type                      5304 non-null   object
 34  umbs_code                     5367 non-null   object
 35  target_profit                 5367 non-null   float64
dtypes: bool(6), datetime64[ns](3), float64(6), int64(9), object(12)
memory usage: 1.3+ MB
loan_id                          0
state_code                       0
county                           0
conforming_loan_limit            0
derived_loan_product_type        0
derived_dwelling_category        0
loan_type                        0
loan_purpose                     0
lien_position                    0
reverse_mortgage                 0
open-end_line_of_credit          0
loan_amount                      0
closing_date                     0
first_payment_date               0
maturity_date                    0
loan_term                        0
principal_interest_pmt           0
interest_rate                    0
property_value                   0
total_loan_costs                 2
origition_charges                0
other_loan_costs                 0
negative_amortization            0
interest_only_payment            0
balloon_payment                  0
other_nonamortizing_features     0
occupancy_type                   0
manufactured_home                0
total_units                      0
income_thousands                 0
recurring_monthly_debt          27
median_fico_score                0
credit_score_type                0
aus_type                        63
umbs_code                        0
target_profit                    0
dtype: int64

In [ ]:
loan_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   closing_date            5367 non-null   datetime64[ns]
 2   file_in_audit           5114 non-null   datetime64[ns]
 3   file_audit_complete     4591 non-null   datetime64[ns]
 4   file_sent_to_custodian  4207 non-null   datetime64[ns]
 5   file_at_custodian       3244 non-null   datetime64[ns]
dtypes: datetime64[ns](5), int64(1)
memory usage: 251.7 KB

In [ ]:
target_profit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   loan_id                       5367 non-null   int64
 1   state_code                    5367 non-null   object
 2   county                        5367 non-null   object
 3   conforming_loan_limit         5367 non-null   bool
 4   derived_loan_product_type     5367 non-null   object
 5   derived_dwelling_category     5367 non-null   object
 6   loan_type                     5367 non-null   object
 7   loan_purpose                  5367 non-null   object
 8   lien_position                 5367 non-null   int64
 9   reverse_mortgage              5367 non-null   bool
 10  open-end_line_of_credit       5367 non-null   bool
 11  loan_amount                   5367 non-null   int64
 12  closing_date                  5367 non-null   datetime64[ns]
 13  first_payment_date            5367 non-null   datetime64[ns]
 14  maturity_date                 5367 non-null   datetime64[ns]
 15  loan_term                     5367 non-null   int64
 16  principal_interest_pmt        5367 non-null   float64
 17  interest_rate                 5367 non-null   float64
 18  umbs_code                     5367 non-null   object
 19  property_value                5367 non-null   int64
 20  total_loan_costs              5367 non-null   object
 21  origition_charges             5367 non-null   object
 22  other_loan_costs              5367 non-null   object
 23  lender_credits                39 non-null     object
 24  prepayment_pelty_term         0 non-null      float64
 25  intro_rate_period             85 non-null     float64
 26  negative_amortization         5367 non-null   bool
 27  interest_only_payment         5367 non-null   int64
 28  balloon_payment               5367 non-null   int64
 29  other_nonamortizing_features  5367 non-null   bool
 30  occupancy_type                5367 non-null   object
 31  manufactured_home             5367 non-null   bool
 32  total_units                   5367 non-null   int64
 33  income_thousands              5367 non-null   object
 34  recurring_monthly_debt        5340 non-null   float64
 35  median_fico_score             5367 non-null   int64
 36  credit_score_type             5367 non-null   object
 37  aus_type                      5304 non-null   object
 38  base_margin                   5367 non-null   float64
 39  umbs price                    5367 non-null   object
 40  trade_margin                  5367 non-null   object
 41  Target Profit                 5367 non-null   int64
 42  Trade Premium                 5367 non-null   object
 43  points_and_fees               5367 non-null   object
 44  Total Loan Revenue            5367 non-null   object
 45  Gross Profit                  5367 non-null   object
 46  Profit Margin                 5367 non-null   object
 47  Winning Bid                   5367 non-null   object
 48  Winner                        5367 non-null   object
 49  actual trade premium          5367 non-null   object
 50  acctual loan revenue          1467 non-null   object
 51  actual profit margin          1467 non-null   object
dtypes: bool(6), datetime64[ns](3), float64(6), int64(10), object(27)
memory usage: 1.9+ MB

In [ ]:
umbs_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   umbs_code    17 non-null     object
 1   umbs_coupon  17 non-null     float64
 2   umbs_term    17 non-null     int64
 3   umbs_price   17 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 672.0+ bytes

In [ ]:
# Check for missing values
print(loan_balances.isnull().sum())
print(loan_bids.isnull().sum())
print(loan_data.isnull().sum())  #<<<<<<<
print(loan_status.isnull().sum())  #<<<<<<<<
print(target_profit.isnull().sum()) #<<<<<<<<
print(umbs_prices.isnull().sum())

loan_id                       0
loan_amount                   0
first_payment_date            0
principal_interest_payment    0
interest_rate                 0
loan_term                     0
next_payment_due_date         0
payment_periods_made          0
current_balance               0
dtype: int64
loan_id              0
golden_sachs         0
storgan_manley       0
smells_largo         0
bank_of_americans    0
pj_logan             0
dtype: int64
loan_id                            0
state_code                         0
county                             0
conforming_loan_limit              0
derived_loan_product_type          0
derived_dwelling_category          0
loan_type                          0
loan_purpose                       0
lien_position                      0
reverse_mortgage                   0
open-end_line_of_credit            0
loan_amount                        0
closing_date                       0
first_payment_date                 0
maturity_date                      0
loan_term                          0
principal_interest_pmt             0
interest_rate                      0
property_value                     0
total_loan_costs                   2
origition_charges                  0
other_loan_costs                   0
lender_credits                  5328
prepayment_pelty_term           5367
intro_rate_period               5282
negative_amortization              0
interest_only_payment              0
balloon_payment                    0
other_nonamortizing_features       0
occupancy_type                     0
manufactured_home                  0
total_units                        0
income_thousands                   0
recurring_monthly_debt            27
median_fico_score                  0
credit_score_type                  0
aus_type                          63
umbs_code                          0
target_profit                      0
dtype: int64
loan_id                      0
closing_date                 0
file_in_audit              253
file_audit_complete        776
file_sent_to_custodian    1160
file_at_custodian         2123
dtype: int64
loan_id                            0
state_code                         0
county                             0
conforming_loan_limit              0
derived_loan_product_type          0
derived_dwelling_category          0
loan_type                          0
loan_purpose                       0
lien_position                      0
reverse_mortgage                   0
open-end_line_of_credit            0
loan_amount                        0
closing_date                       0
first_payment_date                 0
maturity_date                      0
loan_term                          0
principal_interest_pmt             0
interest_rate                      0
umbs_code                          0
property_value                     0
total_loan_costs                   2
origition_charges                  0
other_loan_costs                   0
lender_credits                  5328
prepayment_pelty_term           5367
intro_rate_period               5282
negative_amortization              0
interest_only_payment              0
balloon_payment                    0
other_nonamortizing_features       0
occupancy_type                     0
manufactured_home                  0
total_units                        0
income_thousands                   0
recurring_monthly_debt            27
median_fico_score                  0
credit_score_type                  0
aus_type                          63
base_margin                        0
umbs price                         0
trade_margin                       0
Target Profit                      0
Trade Premium                      0
points_and_fees                    0
Total Loan Revenue                 0
Gross Profit                       2
Profit Margin                      2
Winning Bid                        0
Winner                             0
actual trade premium               0
acctual loan revenue            3900
actual profit margin            3900
dtype: int64
umbs_code      0
umbs_coupon    0
umbs_term      0
umbs_price     0
dtype: int64

# Data Cleaning

## 3 data frame have missing values
##loan_data
##loan_status
##target_profit

In [ ]:
# Define the columns to drop
columns_to_drop_loan_data = ['lender_credits', 'prepayment_pelty_term', 'intro_rate_period','derived_loan_product_type','derived_dwelling_category','loan_type','lien_position','reverse_mortgage','open-end_line_of_credit','negative_amortization','interest_only_payment','balloon_payment','other_nonamortizing_features','manufactured_home']
columns_to_drop_target_profit = ['lender_credits', 'prepayment_pelty_term', 'intro_rate_period', 'derived_loan_product_type','derived_dwelling_category','loan_type','lien_position','reverse_mortgage','open-end_line_of_credit','negative_amortization','interest_only_payment','balloon_payment','other_nonamortizing_features','manufactured_home' ,'acctual loan revenue', 'actual profit margin','base_margin']#,'total_loan_costs','base_margin'

# Drop columns from loan_data DataFrame
loan_data.drop(columns=columns_to_drop_loan_data, inplace=True, errors='ignore')

# Drop columns from target_profit DataFrame
target_profit.drop(columns=columns_to_drop_target_profit, inplace=True, errors='ignore')

In [ ]:
import pandas as pd
import numpy as np

# Ensure all values in 'total_loan_costs' are strings
loan_data['total_loan_costs'] = loan_data['total_loan_costs'].astype(str)

# Replace '#VALUE!' with NaN
loan_data['total_loan_costs'] = loan_data['total_loan_costs'].replace('#VALUE!', np.nan)

# Remove parentheses and commas
loan_data['total_loan_costs'] = loan_data['total_loan_costs'].str.replace('[\(\)]', '', regex=True)
loan_data['total_loan_costs'] = loan_data['total_loan_costs'].str.replace(',', '')

# Convert to float and handle errors
loan_data['total_loan_costs'] = pd.to_numeric(loan_data['total_loan_costs'], errors='coerce')

# Fill NaN values with the mean of the column
loan_data_mean_value = loan_data['total_loan_costs'].mean()
loan_data['total_loan_costs'].fillna(loan_data_mean_value, inplace=True)

print(loan_data['total_loan_costs'].head())

0    10736.5
1      843.5
2     5450.0
3     2078.3
4    27392.0
Name: total_loan_costs, dtype: float64

In [ ]:
# Ensure all values in 'total_loan_costs' are strings
target_profit['total_loan_costs'] = target_profit['total_loan_costs'].astype(str)

# Replace '#VALUE!' with NaN
target_profit['total_loan_costs'] = target_profit['total_loan_costs'].replace('#VALUE!', np.nan)

# Remove parentheses and commas
target_profit['total_loan_costs'] = target_profit['total_loan_costs'].str.replace('[\(\)]', '', regex=True)
target_profit['total_loan_costs'] = target_profit['total_loan_costs'].str.replace(',', '')

# Convert to float and handle errors
target_profit['total_loan_costs'] = pd.to_numeric(target_profit['total_loan_costs'], errors='coerce')

# Fill NaN values with the mean of the column
loan_data_mean_value = target_profit['total_loan_costs'].mean()
target_profit['total_loan_costs'].fillna(loan_data_mean_value, inplace=True)

print(target_profit['total_loan_costs'].head())

0    10736.5
1      843.5
2     5450.0
3     2078.3
4    27392.0
Name: total_loan_costs, dtype: float64

In [ ]:
# Check if columns are dropped
print(loan_data.columns)
print(target_profit.columns)

loan_data_columns = []
for i in loan_data.columns:
  loan_data_columns.append(i)

target_profit_columns = []
for i in target_profit.columns:
  target_profit_columns.append(i)

unique = []
for i in target_profit_columns:
  if i not in loan_data_columns:
    unique.append(i)
print(unique)

Index(['loan_id', 'state_code', 'county', 'conforming_loan_limit',
       'loan_purpose', 'loan_amount', 'closing_date', 'first_payment_date',
       'maturity_date', 'loan_term', 'principal_interest_pmt', 'interest_rate',
       'property_value', 'total_loan_costs', 'origition_charges',
       'other_loan_costs', 'occupancy_type', 'total_units', 'income_thousands',
       'recurring_monthly_debt', 'median_fico_score', 'credit_score_type',
       'aus_type', 'umbs_code', 'target_profit'],
      dtype='object')
Index(['loan_id', 'state_code', 'county', 'conforming_loan_limit',
       'loan_purpose', 'loan_amount', 'closing_date', 'first_payment_date',
       'maturity_date', 'loan_term', 'principal_interest_pmt', 'interest_rate',
       'umbs_code', 'property_value', 'total_loan_costs', 'origition_charges',
       'other_loan_costs', 'occupancy_type', 'total_units', 'income_thousands',
       'recurring_monthly_debt', 'median_fico_score', 'credit_score_type',
       'aus_type', 'umbs price', 'trade_margin', 'Target Profit',
       'Trade Premium', 'points_and_fees', 'Total Loan Revenue',
       'Gross Profit', 'Profit Margin', 'Winning Bid', 'Winner',
       'actual trade premium'],
      dtype='object')
['umbs price', 'trade_margin', 'Target Profit', 'Trade Premium', 'points_and_fees', 'Total Loan Revenue', 'Gross Profit', 'Profit Margin', 'Winning Bid', 'Winner', 'actual trade premium']

# drop empty rows

##loan_status

In [ ]:
'''
# Drop rows with missing values in file_at_custodian in loan_status DataFrame
loan_status_cleaned = loan_status.dropna(subset=['file_at_custodian'])
'''

In [ ]:
'''
columns_to_drop_loan_status_cleaned = ['file_in_audit', 'file_audit_complete']
# Drop columns from loan_status DataFrame
loan_status_cleaned.drop(columns=columns_to_drop_loan_status_cleaned, inplace=True, errors='ignore')
'''

<ipython-input-67-8df57f978e5c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_status_cleaned.drop(columns=columns_to_drop_loan_status_cleaned, inplace=True, errors='ignore')

In [ ]:
'''
## You can specify a subset of columns to consider when identifying duplicates. then keeping only the first occurrence by default
loan_status_cleaned.drop_duplicates(subset=['loan_id'], inplace=True)
'''

<ipython-input-68-1ef279b240a0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_status_cleaned.drop_duplicates(subset=['loan_id'], inplace=True)

In [ ]:
#loan_status_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3244 entries, 14 to 3669
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 3244 non-null   int64
 1   closing_date            3244 non-null   datetime64[ns]
 2   file_sent_to_custodian  3244 non-null   datetime64[ns]
 3   file_at_custodian       3244 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(1)
memory usage: 126.7 KB

##loan_balances

In [ ]:
# if you have no id type colums mean use below code
#It identifies duplicate rows and removes them, keeping only the first occurrence by default.
loan_balances.drop_duplicates(inplace=True)

In [ ]:
loan_balances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount                 5367 non-null   int64
 2   first_payment_date          5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate               5367 non-null   float64
 5   loan_term                   5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8                               5367 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4)
memory usage: 377.5 KB

##loan_data

In [ ]:
loan_data.info()

print(loan_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   state_code              5367 non-null   object
 2   county                  5367 non-null   object
 3   conforming_loan_limit   5367 non-null   bool
 4   loan_purpose            5367 non-null   object
 5   loan_amount             5367 non-null   int64
 6   closing_date            5367 non-null   datetime64[ns]
 7   first_payment_date      5367 non-null   datetime64[ns]
 8   maturity_date           5367 non-null   datetime64[ns]
 9   loan_term               5367 non-null   int64
 10  principal_interest_pmt  5367 non-null   float64
 11  interest_rate           5367 non-null   float64
 12  property_value          5367 non-null   int64
 13  total_loan_costs        5367 non-null   float64
 14  origition_charges       5367 non-null   float64
 15  other_loan_costs        5367 non-null   object
 16  occupancy_type          5367 non-null   object
 17  total_units             5367 non-null   int64
 18  income_thousands        5367 non-null   object
 19  recurring_monthly_debt  5340 non-null   float64
 20  median_fico_score       5367 non-null   int64
 21  credit_score_type       5367 non-null   object
 22  aus_type                5304 non-null   object
 23  umbs_code               5367 non-null   object
 24  target_profit           5367 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(6), int64(6), object(9)
memory usage: 1011.7+ KB
loan_id                    0
state_code                 0
county                     0
conforming_loan_limit      0
loan_purpose               0
loan_amount                0
closing_date               0
first_payment_date         0
maturity_date              0
loan_term                  0
principal_interest_pmt     0
interest_rate              0
property_value             0
total_loan_costs           0
origition_charges          0
other_loan_costs           0
occupancy_type             0
total_units                0
income_thousands           0
recurring_monthly_debt    27
median_fico_score          0
credit_score_type          0
aus_type                  63
umbs_code                  0
target_profit              0
dtype: int64

In [ ]:
loan_data['total_loan_costs'].fillna(loan_data['total_loan_costs'].mean(), inplace=True)
loan_data['recurring_monthly_debt'].fillna(loan_data['recurring_monthly_debt'].mean(), inplace=True)
loan_data['aus_type'].fillna(loan_data['aus_type'].mode()[0], inplace=True)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['total_loan_costs'].unique())
print(len(loan_data['total_loan_costs'].unique()))

[10736.5    843.5   5450.   ...  4274.5   4814.5  12880.58]
5094

In [ ]:
loan_data

,loan_id,state_code,county,conforming_loan_limit,loan_purpose,loan_amount,closing_date,first_payment_date,maturity_date,loan_term,...,other_loan_costs,occupancy_type,total_units,income_thousands,recurring_monthly_debt,median_fico_score,credit_score_type,aus_type,umbs_code,target_profit
0,5021367,CA,Los Angeles,True,Refinancing,545000,2021-08-27,2021-10-01,2041-09-01,240,...,0,Primary residence,1,108,4230.0,620,Equifax Beacon 5.0,LP,UMBS 15YR 2.0,27250.0
1,5021373,CA,Lake,True,Refinancing,135000,2021-08-31,2021-10-01,2051-09-01,360,...,317,Primary residence,1,89,3635.0,620,Experian Fair Isaac,LP,UMBS 30YR 3.0,6750.0
2,5021380,CA,Kern,True,Refinancing,125000,2021-09-01,2021-10-01,2036-09-01,180,...,3187.5,Investment property,3,142,5325.0,620,Experian Fair Isaac,LP,UMBS 30YR 2.5,6250.0
3,5021427,NC,Forsyth,True,Refinancing,125000,2021-09-09,2021-10-01,2051-09-01,360,...,1590.8,Primary residence,1,32,1120.0,620,Equifax Beacon 5.0,LP,UMBS 30YR 3.0,6250.0
4,5021446,MA,Middlesex,True,Refinancing,535000,2021-09-11,2021-10-01,2051-09-01,360,...,0,Primary residence,1,122,3864.0,620,Equifax Beacon 5.0,DU,UMBS 30YR 2.0,26750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5362,5037265,OR,Columbia,True,Refinancing,205000,2021-09-17,2021-11-01,2036-10-01,180,...,1657,Primary residence,1,75,2250.0,853,Equifax Beacon 5.0,DU,UMBS 30YR 2.0,10250.0
5363,5037439,CA,Contra Costa,True,Refinancing,765000,2021-08-30,2021-10-01,2051-09-01,360,...,2067.95,Primary residence,1,194,3557.0,855,Equifax Beacon 5.0,DU,UMBS 15YR 2.0,38250.0
5364,5037440,AZ,Maricopa,True,Home purchase,515000,2021-09-14,2021-10-01,2051-09-01,360,...,0,Primary residence,1,135,4500.0,856,Experian Fair Isaac,DU,UMBS 15YR 2.5,25750.0
5365,5037498,WI,Milwaukee,True,Cash-out refinance,175000,2021-09-08,2021-10-01,2051-09-01,360,...,1647,Primary residence,1,85,3188.0,859,Experian Fair Isaac,LP,UMBS 30YR 2.5,8750.0
5366,5037550,OH,Warren,True,Refinancing,215000,2021-09-03,2021-10-01,2041-09-01,240,...,1872.58,Primary residence,1,109,2998.0,886,FICO Risk Score Classic,DU,UMBS 30YR 2.0,10750.0

In [ ]:
# Replace '-' with 0 in the other_loan_costs column and convert to numeric
loan_data['other_loan_costs'] = loan_data['other_loan_costs'].replace('-', 0)

# Check the updated column
print(loan_data['other_loan_costs'].head())

0         0
1       317
2    3187.5
3    1590.8
4         0
Name: other_loan_costs, dtype: object

In [ ]:
## You can specify a subset of columns to consider when identifying duplicates. then keeping only the first occurrence by default
loan_data.drop_duplicates(subset=['loan_id'], inplace=True)

##target_profit

In [ ]:
target_profit.info()
print(target_profit.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   state_code              5367 non-null   object
 2   county                  5367 non-null   object
 3   conforming_loan_limit   5367 non-null   bool
 4   loan_purpose            5367 non-null   object
 5   loan_amount             5367 non-null   int64
 6   closing_date            5367 non-null   datetime64[ns]
 7   first_payment_date      5367 non-null   datetime64[ns]
 8   maturity_date           5367 non-null   datetime64[ns]
 9   loan_term               5367 non-null   int64
 10  principal_interest_pmt  5367 non-null   float64
 11  interest_rate           5367 non-null   float64
 12  umbs_code               5367 non-null   object
 13  property_value          5367 non-null   int64
 14  total_loan_costs        5367 non-null   float64
 15  origition_charges       5367 non-null   float64
 16  other_loan_costs        5367 non-null   object
 17  occupancy_type          5367 non-null   object
 18  total_units             5367 non-null   int64
 19  income_thousands        5367 non-null   object
 20  recurring_monthly_debt  5340 non-null   float64
 21  median_fico_score       5367 non-null   int64
 22  credit_score_type       5367 non-null   object
 23  aus_type                5304 non-null   object
 24  umbs price              5367 non-null   float64
 25  trade_margin            5367 non-null   float64
 26  Target Profit           5367 non-null   float64
 27  Trade Premium           5367 non-null   float64
 28  points_and_fees         5367 non-null   float64
 29  Total Loan Revenue      5367 non-null   float64
 30  Gross Profit            5365 non-null   float64
 31  Profit Margin           5365 non-null   float64
 32  Winning Bid             5367 non-null   float64
 33  Winner                  5367 non-null   object
 34  actual trade premium    5367 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(15), int64(6), object(10)
memory usage: 1.4+ MB
loan_id                    0
state_code                 0
county                     0
conforming_loan_limit      0
loan_purpose               0
loan_amount                0
closing_date               0
first_payment_date         0
maturity_date              0
loan_term                  0
principal_interest_pmt     0
interest_rate              0
umbs_code                  0
property_value             0
total_loan_costs           0
origition_charges          0
other_loan_costs           0
occupancy_type             0
total_units                0
income_thousands           0
recurring_monthly_debt    27
median_fico_score          0
credit_score_type          0
aus_type                  63
umbs price                 0
trade_margin               0
Target Profit              0
Trade Premium              0
points_and_fees            0
Total Loan Revenue         0
Gross Profit               2
Profit Margin              2
Winning Bid                0
Winner                     0
actual trade premium       0
dtype: int64

In [ ]:
target_profit['total_loan_costs'].fillna(target_profit['total_loan_costs'].mean(), inplace=True)
target_profit['recurring_monthly_debt'].fillna(target_profit['recurring_monthly_debt'].mean(), inplace=True)
target_profit['aus_type'].fillna(target_profit['aus_type'].mode()[0], inplace=True)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['total_loan_costs'].unique())
print(len(loan_data['total_loan_costs'].unique()))

[10736.5    843.5   5450.   ...  4274.5   4814.5  12880.58]
5094

In [ ]:
# Check the unique values in loan_purpose column
print(target_profit['Profit Margin'].unique())

[0.05       0.05       0.05       0.05       0.0451273  0.05
 0.0484262  0.04631926 0.04768332 0.03915214 0.04892588        nan
 0.04794445 0.04308351 0.04808345 0.04237084 0.0395     0.0443806
 0.0497486  0.0473672  0.04802036 0.04631076 0.04763117 0.04090109
 0.04932347 0.04772072 0.03530322 0.0480618  0.03767681 0.04867451
 0.04318953 0.04991864 0.04231631 0.04724921 0.04945663 0.04929486
 0.03772289 0.04846363 0.04974987 0.04916161 0.04540723 0.04551388
 0.04942044]

In [ ]:
target_profit['total_loan_costs'].fillna(target_profit['total_loan_costs'].mean(), inplace=True)
target_profit['recurring_monthly_debt'].fillna(target_profit['recurring_monthly_debt'].mean(), inplace=True)
target_profit['aus_type'].fillna(target_profit['aus_type'].mode()[0], inplace=True)
target_profit['Gross Profit'].fillna(target_profit['Gross Profit'].mean(), inplace=True)
target_profit['Profit Margin'].fillna(target_profit['Profit Margin'].mean(), inplace=True)

In [ ]:
## You can specify a subset of columns to consider when identifying duplicates. then keeping only the first occurrence by default
target_profit.drop_duplicates(subset=['loan_id'], inplace=True)

##loan_bids

In [ ]:
loan_bids.info()
print(loan_bids.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            5367 non-null   int64
 1   golden_sachs       5367 non-null   float64
 2   storgan_manley     5367 non-null   float64
 3   smells_largo       5367 non-null   float64
 4   bank_of_americans  5367 non-null   float64
 5   pj_logan           5367 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 251.7 KB
loan_id              0
golden_sachs         0
storgan_manley       0
smells_largo         0
bank_of_americans    0
pj_logan             0
dtype: int64

In [ ]:
## You can specify a subset of columns to consider when identifying duplicates. then keeping only the first occurrence by default
loan_bids.drop_duplicates(subset=['loan_id'], inplace=True)

## umbs_prices

In [ ]:
umbs_prices.info()
print(umbs_prices.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   umbs_code    17 non-null     object
 1   umbs_coupon  17 non-null     float64
 2   umbs_term    17 non-null     int64
 3   umbs_price   17 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 672.0+ bytes
umbs_code      0
umbs_coupon    0
umbs_term      0
umbs_price     0
dtype: int64

In [ ]:
# if you have no id type colums mean use below code
#It identifies duplicate rows and removes them, keeping only the first occurrence by default.
umbs_prices.drop_duplicates(inplace=True)

#Data Encoding

##Loan Data

In [ ]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   state_code              5367 non-null   object
 2   county                  5367 non-null   object
 3   conforming_loan_limit   5367 non-null   bool
 4   loan_purpose            5367 non-null   object
 5   loan_amount             5367 non-null   int64
 6   closing_date            5367 non-null   datetime64[ns]
 7   first_payment_date      5367 non-null   datetime64[ns]
 8   maturity_date           5367 non-null   datetime64[ns]
 9   loan_term               5367 non-null   int64
 10  principal_interest_pmt  5367 non-null   float64
 11  interest_rate           5367 non-null   float64
 12  property_value          5367 non-null   int64
 13  total_loan_costs        5367 non-null   float64
 14  origition_charges       5367 non-null   float64
 15  other_loan_costs        5367 non-null   object
 16  occupancy_type          5367 non-null   object
 17  total_units             5367 non-null   int64
 18  income_thousands        5367 non-null   object
 19  recurring_monthly_debt  5367 non-null   float64
 20  median_fico_score       5367 non-null   int64
 21  credit_score_type       5367 non-null   object
 22  aus_type                5367 non-null   object
 23  umbs_code               5367 non-null   object
 24  target_profit           5367 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(6), int64(6), object(9)
memory usage: 1011.7+ KB

In [ ]:
# Convert True/False to 1/0 in the conforming_loan_limit column
loan_data['conforming_loan_limit'] = loan_data['conforming_loan_limit'].astype(int)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['loan_purpose'].unique())

['Refinancing' 'Cash-out refinance' 'Home purchase' 'Home improvement'
 'Other']

In [ ]:
# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['loan_purpose'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

Counts of each unique value:
loan_purpose
Refinancing           2375
Cash-out refinance    2098
Home purchase          805
Other                   58
Home improvement        31
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
loan_data['loan_purpose'] = loan_data['loan_purpose'].map({'Other': 0, 'Home improvement': 1, 'Home purchase': 2,'Cash-out refinance': 3, 'Refinancing': 4})

In [ ]:
# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['other_loan_costs'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

# Check the unique values in loan_purpose column
print(loan_data['other_loan_costs'].unique())
print(len(loan_data['other_loan_costs'].unique()))

Counts of each unique value:
other_loan_costs
0.00       393
107.00      40
1157.00     34
149.50      23
967.00      22
          ...
586.32       1
2814.50      1
524.00       1
1496.25      1
1872.58      1
Name: count, Length: 4131, dtype: int64
[0 317 3187.5 ... 2168.1499999999996 2067.95 1872.58]
4131

In [ ]:
# Replace '-' with 0 in the other_loan_costs column and convert to numeric
loan_data['other_loan_costs'] = loan_data['other_loan_costs'].replace('na', 0)
# Convert 'other_loan_costs' column from object to float
loan_data['other_loan_costs'] = loan_data['other_loan_costs'].astype(float)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['occupancy_type'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['occupancy_type'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

['Primary residence' 'Investment property' 'Second residence']

Counts of each unique value:
occupancy_type
Primary residence      4957
Investment property     279
Second residence        131
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
loan_data['occupancy_type'] = loan_data['occupancy_type'].map({'Second residence': 0, 'Investment property': 1, 'Primary residence': 2})

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['income_thousands'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['income_thousands'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

[108 89 142 32 122 111 69 59 149 115 112 113 330 19 24 63 82 65 38 260 52
 139 118 194 34 73 163 250 201 107 232 130 80 44 249 138 160 68 71 151 390
 124 67 168 131 62 133 81 206 90 104 140 97 119 143 157 94 42 120 99 180
 136 245 83 110 197 162 77 109 14 215 70 102 56 134 166 126 128 183 85 96
 55 64 300 181 195 58 241 230 88 127 244 255 84 114 159 234 95 103 100 35
 399 43 121 48 384 188 275 208 137 371 39 98 182 37 30 31 117 57 86 172 93
 123 161 415 325 454 79 158 60 76 27 271 362 125 72 289 36 175 91 141 331
 167 75 299 135 66 132 105 45 61 54 226 46 92 428 47 471 49 150 50 74 33
 190 251 229 360 'na' 29 214 78 23 144 282 147 22 145 263 116 176 290 252
 191 129 404 165 356 40 500 41 196 106 51 198 346 173 178 238 18 146 155
 28 243 148 154 20 224 278 211 359 235 221 248 164 153 603 25 189 247 1338
 101 240 225 310 653 216 212 274 386 87 156 53 683 174 209 219 192 314 210
 265 227 334 281 26 200 286 349 504 222 280 213 901 237 345 193 410 848
 187 205 21 152 306 525 534 239 199 295 316 170 324 11 16 319 400 179 184
 754 267 302 365 264 171 320 254 750 343 256 394 303 478 203 233 367 1223
 268 465 185 636 204 279 337 177 291 336 451 202 332 790 294 342 288 463
 261 1165 313 242 207 350 323 308 272 285 363 259 389 433 364 169 520 270
 262 218 868 487 529 246 401 438 269 17 236 508 353 369 441 358 351 407
 335 231 296 220 1466 307 416 304 228 276 186 459 373 287 411 607 779 1491
 13 713 391 341 515 253 405 223 503 851 609 277 257 686 381 344 321 301
 322 499 555 474 273 292 472 258 617 570 293 326 338 796 355 461 361 329
 327 315 646 418]

Counts of each unique value:
income_thousands
48     57
75     54
60     52
73     52
65     51
       ..
288     1
342     1
790     1
332     1
418     1
Name: count, Length: 406, dtype: int64

In [ ]:
# Replace '-' with 0 in the other_loan_costs column and convert to numeric
loan_data['income_thousands'] = loan_data['income_thousands'].replace('na', 0)
# Convert 'other_loan_costs' column from object to float
loan_data['income_thousands'] = loan_data['income_thousands'].astype(int)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['recurring_monthly_debt'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['recurring_monthly_debt'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

[4230. 3635. 5325. ... 1511. 8140. 2804.]

Counts of each unique value:
recurring_monthly_debt
3114.159176     27
1800.000000     20
2700.000000     19
1400.000000     17
2760.000000     16
                ..
11999.000000     1
4804.000000      1
2884.000000      1
6747.000000      1
2804.000000      1
Name: count, Length: 2219, dtype: int64

In [ ]:
# Replace '-' with 0 in the other_loan_costs column and convert to numeric
#loan_data['income_thousands'] = loan_data['income_thousands'].replace('na', 0)
# Convert 'other_loan_costs' column from object to float
loan_data['recurring_monthly_debt'] = loan_data['recurring_monthly_debt'].astype(int)

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['credit_score_type'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['credit_score_type'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

['Equifax Beacon 5.0' 'Experian Fair Isaac' 'FICO Risk Score Classic']

Counts of each unique value:
credit_score_type
Equifax Beacon 5.0         2048
FICO Risk Score Classic    1791
Experian Fair Isaac        1528
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
loan_data['credit_score_type'] = loan_data['credit_score_type'].map({'Experian Fair Isaac': 0, 'FICO Risk Score Classic': 1, 'Equifax Beacon 5.0': 2})

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['aus_type'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['aus_type'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

['LP' 'DU']

Counts of each unique value:
aus_type
DU    3803
LP    1564
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
loan_data['aus_type'] = loan_data['aus_type'].map({'LP': 0, 'DU': 1})

In [ ]:
# Check the unique values in loan_purpose column
print(loan_data['umbs_code'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_data['umbs_code'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

['UMBS 15YR 2.0' 'UMBS 30YR 3.0' 'UMBS 30YR 2.5' 'UMBS 30YR 2.0'
 'UMBS 30YR 1.5' 'UMBS 15YR 3.0' 'UMBS 30YR 3.5' 'UMBS 15YR 2.5'
 'UMBS 15YR 3.5' 'UMBS 15YR 1.5' 'UMBS 30YR 4.0' 'UMBS 30YR 1.0'
 'UMBS 15YR 4.0']

Counts of each unique value:
umbs_code
UMBS 30YR 2.5    2160
UMBS 30YR 3.0     874
UMBS 30YR 2.0     795
UMBS 15YR 2.5     635
UMBS 15YR 3.0     274
UMBS 15YR 2.0     249
UMBS 30YR 1.5     208
UMBS 30YR 3.5      76
UMBS 15YR 1.5      65
UMBS 15YR 3.5      20
UMBS 30YR 4.0       5
UMBS 30YR 1.0       4
UMBS 15YR 4.0       2
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
loan_data['umbs_code'] = loan_data['umbs_code'].map({'UMBS 15YR 4.0': 4.0, 'UMBS 30YR 1.0': 1.0,'UMBS 30YR 4.0': 4.0,'UMBS 15YR 3.5': 3.5,'UMBS 15YR 1.5': 1.5,'UMBS 30YR 3.5': 3.5,'UMBS 30YR 1.5': 1.5,'UMBS 15YR 2.0':2.0,'UMBS 15YR 3.0':3.0,'UMBS 15YR 2.5':2.5,'UMBS 30YR 2.0':2.0,'UMBS 30YR 3.0':3.0,'UMBS 30YR 2.5' :2.5})

## loan_balances

In [ ]:
loan_balances.info()
print(loan_balances.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount                 5367 non-null   int64
 2   first_payment_date          5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate               5367 non-null   float64
 5   loan_term                   5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8                               5367 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4)
memory usage: 377.5 KB
loan_id                       0
loan_amount                   0
first_payment_date            0
principal_interest_payment    0
interest_rate                 0
loan_term                     0
next_payment_due_date         0
payment_periods_made          0
                              0
dtype: int64

##loan_status

In [ ]:
loan_status.info()
print(loan_status.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   closing_date            5367 non-null   datetime64[ns]
 2   file_in_audit           5114 non-null   datetime64[ns]
 3   file_audit_complete     4591 non-null   datetime64[ns]
 4   file_sent_to_custodian  4207 non-null   datetime64[ns]
 5   file_at_custodian       3244 non-null   datetime64[ns]
dtypes: datetime64[ns](5), int64(1)
memory usage: 251.7 KB
loan_id                      0
closing_date                 0
file_in_audit              253
file_audit_complete        776
file_sent_to_custodian    1160
file_at_custodian         2123
dtype: int64

In [ ]:
loan_status_cleaned.info()

NameError: name 'loan_status_cleaned' is not defined

##umbs_prices

In [ ]:
umbs_prices.info()
print(umbs_prices.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   umbs_code    17 non-null     object
 1   umbs_coupon  17 non-null     float64
 2   umbs_term    17 non-null     int64
 3   umbs_price   17 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 672.0+ bytes
umbs_code      0
umbs_coupon    0
umbs_term      0
umbs_price     0
dtype: int64

In [ ]:
umbs_prices

        umbs_code  umbs_coupon  umbs_term  umbs_price
0   UMBS 30YR 1.0          1.0         30       94.98
1   UMBS 30YR 1.5          1.5         30       97.45
2   UMBS 30YR 2.0          2.0         30       99.88
3   UMBS 30YR 2.5          2.5         30      103.19
4   UMBS 30YR 3.0          3.0         30      104.61
5   UMBS 30YR 3.5          3.5         30      105.77
6   UMBS 30YR 4.0          4.0         30      107.09
7   UMBS 30YR 4.5          4.5         30      108.11
8   UMBS 30YR 5.0          5.0         30      109.92
9   UMBS 15YR 1.5          1.5         15      100.93
10  UMBS 15YR 2.0          2.0         15      103.03
11  UMBS 15YR 2.5          2.5         15      104.17
12  UMBS 15YR 3.0          3.0         15      105.00
13  UMBS 15YR 3.5          3.5         15      106.41
14  UMBS 15YR 4.0          4.0         15      105.78
15  UMBS 15YR 4.5          4.5         15      104.28
16  UMBS 15YR 5.0          5.0         15      105.48

##loan_bids

In [ ]:
loan_bids.info()
print(loan_bids.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            5367 non-null   int64
 1   golden_sachs       5367 non-null   float64
 2   storgan_manley     5367 non-null   float64
 3   smells_largo       5367 non-null   float64
 4   bank_of_americans  5367 non-null   float64
 5   pj_logan           5367 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 251.7 KB
loan_id              0
golden_sachs         0
storgan_manley       0
smells_largo         0
bank_of_americans    0
pj_logan             0
dtype: int64

##target_profit

In [ ]:
target_profit.info()
print(target_profit.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_id                 5367 non-null   int64
 1   state_code              5367 non-null   object
 2   county                  5367 non-null   object
 3   conforming_loan_limit   5367 non-null   bool
 4   loan_purpose            5367 non-null   object
 5   loan_amount             5367 non-null   int64
 6   closing_date            5367 non-null   datetime64[ns]
 7   first_payment_date      5367 non-null   datetime64[ns]
 8   maturity_date           5367 non-null   datetime64[ns]
 9   loan_term               5367 non-null   int64
 10  principal_interest_pmt  5367 non-null   float64
 11  interest_rate           5367 non-null   float64
 12  umbs_code               5367 non-null   object
 13  property_value          5367 non-null   int64
 14  total_loan_costs        5367 non-null   float64
 15  origition_charges       5367 non-null   float64
 16  other_loan_costs        5367 non-null   object
 17  occupancy_type          5367 non-null   object
 18  total_units             5367 non-null   int64
 19  income_thousands        5367 non-null   object
 20  recurring_monthly_debt  5367 non-null   float64
 21  median_fico_score       5367 non-null   int64
 22  credit_score_type       5367 non-null   object
 23  aus_type                5367 non-null   object
 24  umbs price              5367 non-null   float64
 25  trade_margin            5367 non-null   float64
 26  Target Profit           5367 non-null   float64
 27  Trade Premium           5367 non-null   float64
 28  points_and_fees         5367 non-null   float64
 29  Total Loan Revenue      5367 non-null   float64
 30  Gross Profit            5367 non-null   float64
 31  Profit Margin           5367 non-null   float64
 32  Winning Bid             5367 non-null   float64
 33  Winner                  5367 non-null   object
 34  actual trade premium    5367 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(15), int64(6), object(10)
memory usage: 1.4+ MB
loan_id                   0
state_code                0
county                    0
conforming_loan_limit     0
loan_purpose              0
loan_amount               0
closing_date              0
first_payment_date        0
maturity_date             0
loan_term                 0
principal_interest_pmt    0
interest_rate             0
umbs_code                 0
property_value            0
total_loan_costs          0
origition_charges         0
other_loan_costs          0
occupancy_type            0
total_units               0
income_thousands          0
recurring_monthly_debt    0
median_fico_score         0
credit_score_type         0
aus_type                  0
umbs price                0
trade_margin              0
Target Profit             0
Trade Premium             0
points_and_fees           0
Total Loan Revenue        0
Gross Profit              0
Profit Margin             0
Winning Bid               0
Winner                    0
actual trade premium      0
dtype: int64

In [ ]:
print(unique)

['umbs price', 'trade_margin', 'Target Profit', 'Trade Premium', 'points_and_fees', 'Total Loan Revenue', 'Gross Profit', 'Profit Margin', 'Winning Bid', 'Winner', 'actual trade premium']

In [ ]:
# Check the unique values in loan_purpose column
print(target_profit['Winner'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = target_profit['Winner'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

['umbs_price' 'golden_sachs' 'pj_logan' 'bank_of_americans'
 'storgan_manley']

Counts of each unique value:
Winner
umbs_price           3900
storgan_manley        577
golden_sachs          532
pj_logan              234
bank_of_americans     124
Name: count, dtype: int64

In [ ]:
#lable encoded
# Replace 'Yes' with 1 and 'No' with 0 in the 'Attrition' column
target_profit['Winner'] = target_profit['Winner'].map({'bank_of_americans': 0, 'pj_logan': 1, 'golden_sachs': 2, 'storgan_manley': 3,'umbs_price': 4})

#Create Loan Statuses

In [ ]:
'''
import pandas as pd

# Assuming you have already loaded the loan_balances DataFrame
# loan_balances = pd.read_excel('loan_balances.xlsx')

# Define loan statuses
def determine_loan_status(row):
    if row['current_balance'] > 0 and row['next_payment_due_date'] >= pd.Timestamp.today():
        return 'Active'
    else:
        return 'Closed'

# Create a new column 'loan_status' using the defined function
loan_balances['loan_status'] = loan_balances.apply(determine_loan_status, axis=1)

# Check the updated DataFrame
print(loan_balances[['loan_id', 'current_balance', 'next_payment_due_date', 'loan_status']].head())
'''

"\nimport pandas as pd\n\n# Assuming you have already loaded the loan_balances DataFrame\n# loan_balances = pd.read_excel('loan_balances.xlsx')\n\n# Define loan statuses\ndef determine_loan_status(row):\n    if row['current_balance'] > 0 and row['next_payment_due_date'] >= pd.Timestamp.today():\n        return 'Active'\n    else:\n        return 'Closed'\n\n# Create a new column 'loan_status' using the defined function\nloan_balances['loan_status'] = loan_balances.apply(determine_loan_status, axis=1)\n\n# Check the updated DataFrame\nprint(loan_balances[['loan_id', 'current_balance', 'next_payment_due_date', 'loan_status']].head())\n"

In [ ]:
loan_balances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount                 5367 non-null   int64
 2   first_payment_date          5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate               5367 non-null   float64
 5   loan_term                   5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8   current_balance             5367 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4)
memory usage: 377.5 KB

In [ ]:
'''
# Check the unique values in loan_purpose column
print(loan_balances['loan_status'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = loan_balances['loan_status'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)
'''

'\n# Check the unique values in loan_purpose column\nprint(loan_balances[\'loan_status\'].unique())\n\n# Check the unique values in loan_purpose column and their counts\nloan_purpose_counts = loan_balances[\'loan_status\'].value_counts()\n\nprint("\nCounts of each unique value:")\nprint(loan_purpose_counts)\n'

# Creating New Feature name as amortized_balance in loan_balances data frame

In [ ]:
# Calculate monthly interest rate
loan_balances['monthly_interest_rate'] = loan_balances['interest_rate'] / 12 / 100

# Calculate the number of remaining payments
loan_balances['remaining_payments'] = loan_balances['loan_term'] - loan_balances['payment_periods_made']

# Calculate the amortized loan balance using the formula for the present value of an annuity
loan_balances['amortized_balance'] = loan_balances['principal_interest_payment'] * \
    ((1 - (1 + loan_balances['monthly_interest_rate'])**-loan_balances['remaining_payments']) / loan_balances['monthly_interest_rate'])

# Drop intermediate columns if not needed
loan_balances.drop(['monthly_interest_rate', 'remaining_payments'], axis=1, inplace=True)

# Display the first few rows to verify
print(loan_balances[['loan_id', 'principal_interest_payment', 'interest_rate', 'loan_term', 'payment_periods_made', 'amortized_balance']].head())

   loan_id  principal_interest_payment  interest_rate  loan_term  \
0  5021364                     1632.03        0.03250        360
1  5021367                     2822.06        0.02250        240
2  5021369                     1368.47        0.02990        360
3  5021371                     1099.47        0.02875        360
4  5021372                     1304.19        0.03375        360

   payment_periods_made  amortized_balance
0                     0      584667.994587
1                     0      675766.449851
2                     0      490440.177368
3                     0      394102.469005
4                     0      467132.979625

In [ ]:
loan_balances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount                 5367 non-null   int64
 2   first_payment_date          5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate               5367 non-null   float64
 5   loan_term                   5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8                               5367 non-null   float64
 9   amortized_balance           5367 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(4)
memory usage: 419.4 KB

#Merge data frame

In [ ]:
# Merge loan_balances, loan_bids, loan_data, loan_status, and target_profit on 'loan_id'
merged_df = loan_balances.merge(loan_bids, on='loan_id', how='left') \
                         .merge(loan_data, on='loan_id', how='left') \
                         .merge(loan_status[['loan_id', 'file_at_custodian']], on='loan_id', how='left') \
                         .merge(target_profit[['loan_id', 'umbs price', 'trade_margin', 'Target Profit', 'Trade Premium', 'points_and_fees',
                                              'Total Loan Revenue', 'Gross Profit', 'Profit Margin', 'Winning Bid', 'Winner',
                                              'actual trade premium']], on='loan_id', how='left')

# Check the merged DataFrame
print(merged_df.head())

   loan_id  loan_amount_x first_payment_date_x  principal_interest_payment  \
0  5021364         375000           2021-10-01                     1632.03
1  5021367         545000           2021-10-01                     2822.06
2  5021369         325000           2021-10-01                     1368.47
3  5021371         265000           2021-10-01                     1099.47
4  5021372         295000           2021-11-01                     1304.19

   interest_rate_x  loan_term_x next_payment_due_date  payment_periods_made  \
0          0.03250          360            2021-10-01                     0
1          0.02250          240            2021-10-01                     0
2          0.02990          360            2021-10-01                     0
3          0.02875          360            2021-10-01                     0
4          0.03375          360            2021-11-01                     0

             amortized_balance  ...  trade_margin  Target Profit  \
0  375000.0      584667.994587  ...        0.0500        18750.0
1  545000.0      675766.449851  ...        0.0303        27250.0
2  325000.0      490440.177368  ...        0.0319        16250.0
3  265000.0      394102.469005  ...        0.0319        13250.0
4  295000.0      467132.979625  ...        0.0500        14750.0

   Trade Premium  points_and_fees  Total Loan Revenue Gross Profit  \
0        18750.0              0.0             18750.0      18750.0
1        16513.5          10736.5             27250.0      27250.0
2        10367.5           5882.5             16250.0      16250.0
3         8453.5           4796.5             13250.0      13250.0
4        14750.0              0.0             14750.0      14750.0

  Profit Margin  Winning Bid  Winner  actual trade premium
0          0.05       0.0500       4               18750.0
1          0.05       0.0303       4               16513.5
2          0.05       0.0319       4               10367.5
3          0.05       0.0319       4                8453.5
4          0.05       0.0500       4               14750.0

[5 rows x 51 columns]

In [ ]:
'''
# Convert next_payment_due_date and maturity_date to datetime if they're not already
merged_df['next_payment_due_date'] = pd.to_datetime(merged_df['next_payment_due_date'])
merged_df['maturity_date'] = pd.to_datetime(merged_df['maturity_date'])

# Define function to determine loan status
def determine_loan_status(row):
    if row['current_balance'] > 0 and row['next_payment_due_date'] < row['maturity_date']:
        return 'Active'
    else:
        return 'Closed'

# Apply the function to create loan_status column
merged_df['loan_status'] = merged_df.apply(determine_loan_status, axis=1)
'''

In [ ]:
# Check the unique values in loan_purpose column
print(merged_df['loan_status'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = merged_df['loan_status'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

KeyError: 'loan_status'

In [ ]:
'''
# Check for delayed payments
current_date = datetime.now()

# Ensure the 'next_payment_due_date' column is of datetime type
merged_df['next_payment_due_date'] = pd.to_datetime(merged_df['next_payment_due_date'])

# Identify delayed payments by comparing the next payment due date with the current date
merged_df['delayed_payment'] = merged_df['next_payment_due_date'] < current_date

# Display the first few rows to verify
print(merged_df.head())
'''

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# Assuming 'merged_df' is your merged DataFrame

# Define current date
current_date = datetime.now()

# Ensure 'next_payment_due_date' is in datetime format
merged_df['next_payment_due_date'] = pd.to_datetime(merged_df['next_payment_due_date'])

# Define default criteria
default_days_past_due = 90
default_income_threshold = 0.10  # 10% of income_thousands

# Calculate default based on the criteria
merged_df['default'] = ((current_date - merged_df['next_payment_due_date']).dt.days > default_days_past_due) & \
                       (merged_df['income_thousands'] < default_income_threshold * 1000)  # Assuming income_thousands is in thousands

# Convert the boolean values to 0 and 1
merged_df['default'] = merged_df['default'].astype(int)

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5367 entries, 0 to 5366
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_id                     5367 non-null   int64
 1   loan_amount_x               5367 non-null   int64
 2   first_payment_date_x        5367 non-null   datetime64[ns]
 3   principal_interest_payment  5367 non-null   float64
 4   interest_rate_x             5367 non-null   float64
 5   loan_term_x                 5367 non-null   int64
 6   next_payment_due_date       5367 non-null   datetime64[ns]
 7   payment_periods_made        5367 non-null   int64
 8                               5367 non-null   float64
 9   amortized_balance           5367 non-null   float64
 10  golden_sachs                5367 non-null   float64
 11  storgan_manley              5367 non-null   float64
 12  smells_largo                5367 non-null   float64
 13  bank_of_americans           5367 non-null   float64
 14  pj_logan                    5367 non-null   float64
 15  state_code                  5367 non-null   object
 16  county                      5367 non-null   object
 17  conforming_loan_limit       5367 non-null   int64
 18  loan_purpose                5367 non-null   int64
 19  loan_amount_y               5367 non-null   int64
 20  closing_date                5367 non-null   datetime64[ns]
 21  first_payment_date_y        5367 non-null   datetime64[ns]
 22  maturity_date               5367 non-null   datetime64[ns]
 23  loan_term_y                 5367 non-null   int64
 24  principal_interest_pmt      5367 non-null   float64
 25  interest_rate_y             5367 non-null   float64
 26  property_value              5367 non-null   int64
 27  total_loan_costs            5367 non-null   float64
 28  origition_charges           5367 non-null   float64
 29  other_loan_costs            5367 non-null   float64
 30  occupancy_type              5367 non-null   int64
 31  total_units                 5367 non-null   int64
 32  income_thousands            5367 non-null   int64
 33  recurring_monthly_debt      5367 non-null   int64
 34  median_fico_score           5367 non-null   int64
 35  credit_score_type           5367 non-null   int64
 36  aus_type                    5367 non-null   int64
 37  umbs_code                   5367 non-null   float64
 38  target_profit               5367 non-null   float64
 39  file_at_custodian           3244 non-null   datetime64[ns]
 40  umbs price                  5367 non-null   float64
 41  trade_margin                5367 non-null   float64
 42  Target Profit               5367 non-null   float64
 43  Trade Premium               5367 non-null   float64
 44  points_and_fees             5367 non-null   float64
 45  Total Loan Revenue          5367 non-null   float64
 46  Gross Profit                5367 non-null   float64
 47  Profit Margin               5367 non-null   float64
 48  Winning Bid                 5367 non-null   float64
 49  Winner                      5367 non-null   int64
 50  actual trade premium        5367 non-null   float64
 51  default                     5367 non-null   int64
dtypes: datetime64[ns](6), float64(26), int64(18), object(2)
memory usage: 2.1+ MB

In [ ]:

# Check the unique values in loan_purpose column
print(merged_df['days_past_due'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = merged_df['days_past_due'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

[1020  989 1050  959 1142  897  928  838]

Counts of each unique value:
days_past_due
1020    4107
989     1190
1050      48
959       17
897        2
1142       1
928        1
838        1
Name: count, dtype: int64

In [ ]:

# Check the unique values in loan_purpose column
print(merged_df['default'].unique())

# Check the unique values in loan_purpose column and their counts
loan_purpose_counts = merged_df['default'].value_counts()

print("\nCounts of each unique value:")
print(loan_purpose_counts)

[0 1]

Counts of each unique value:
default
1    2785
0    2582
Name: count, dtype: int64

In [ ]:
merged_df

,loan_id,loan_amount_x,first_payment_date_x,principal_interest_payment,interest_rate_x,loan_term_x,next_payment_due_date,payment_periods_made,current_balance,amortized_balance,...,points_and_fees,Total Loan Revenue,Gross Profit,Profit Margin,Winning Bid,Winner,actual trade premium,default,days_past_due,delayed_payment
0,5021364,375000,2021-10-01,1632.03,0.03250,360,2021-10-01,0,375000.0,584667.994587,...,0.0,18750.0,18750.0,0.05,0.050000,4,18750.0000,1,1020,True
1,5021367,545000,2021-10-01,2822.06,0.02250,240,2021-10-01,0,545000.0,675766.449851,...,10736.5,27250.0,27250.0,0.05,0.030300,4,16513.5000,1,1020,True
2,5021369,325000,2021-10-01,1368.47,0.02990,360,2021-10-01,0,325000.0,490440.177368,...,5882.5,16250.0,16250.0,0.05,0.031900,4,10367.5000,1,1020,True
3,5021371,265000,2021-10-01,1099.47,0.02875,360,2021-10-01,0,265000.0,394102.469005,...,4796.5,13250.0,13250.0,0.05,0.031900,4,8453.5000,1,1020,True
4,5021372,295000,2021-11-01,1304.19,0.03375,360,2021-11-01,0,295000.0,467132.979625,...,0.0,14750.0,14750.0,0.05,0.050000,4,14750.0000,1,989,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5362,5037634,345000,2021-11-01,1501.47,0.03250,360,2021-11-01,0,345000.0,537895.414810,...,1345.5,17250.0,17250.0,0.05,0.046100,4,15904.5000,1,989,True
5363,5037636,215000,2021-10-01,905.29,0.02990,360,2021-10-01,0,215000.0,324443.055507,...,3891.5,10750.0,10750.0,0.05,0.034087,2,7328.8125,1,1020,True
5364,5037638,405000,2021-10-01,1705.32,0.02990,360,2021-10-01,0,405000.0,611162.424657,...,7330.5,20250.0,20250.0,0.05,0.031900,4,12919.5000,1,1020,True
5365,5037641,255000,2021-10-01,1057.98,0.02875,360,2021-10-01,0,255000.0,379230.474827,...,4615.5,12750.0,12750.0,0.05,0.031900,4,8134.5000,1,1020,True
5366,5037646,95000,2021-10-01,420.00,0.03375,360,2021-10-01,0,95000.0,150435.022077,...,0.0,4750.0,4750.0,0.05,0.054688,1,5195.3125,1,1020,True

In [ ]:
from google.colab import files

# Assuming `merged_df` is the cleaned and merged DataFrame from the previous steps

# Define the file path for saving the CSV
file_path = 'cleaned_merged_data.csv'

# Save the DataFrame to CSV
merged_df.to_csv(file_path, index=False)

print(f"Cleaned and merged data saved to '{file_path}'.")

# Download the CSV file to your local machine
files.download(file_path)

Cleaned and merged data saved to 'cleaned_merged_data.csv'.